@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    overflow-x: hidden;
    max-width: 100vw; 

  }
  src/index.css
[data-scroll-container] {
  min-height: 100vh;
}

.decorative-lines {
  background-image: repeating-linear-gradient(
    120deg,
    transparent,
    transparent 10px,
    var(--gray-a4) 8px,
    var(--gray-a4) 11px
  );
}
